.container {
    padding: 20px;
    background-color: #eaeaea;
  }
  
  .statsContainer {
    margin-bottom: 30px;
  }
  
  .notificationsContainer {
    background-color: #677d6a;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
  }
  