.container {
    padding: 20px;
    background-color: #d6bd98;
  }
  
  .statsContainer {
    margin-bottom: 30px;
  }
  
  .notificationsContainer {
    background-color: #1a3636;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
  }
  